@model MyRecipes.Web.ViewModels.SearchRecipes.ListViewModel

@{
    ViewData["Title"] = "Търси резултат";
}


<h1>@ViewData["Title"]</h1>

<div class="row">
    @foreach (var recipe in this.Model.Recipes)
    {
        <div class="card col-md-3" style="width: 18rem;">
            <img src="@recipe.ImageUrl" class="card-img-top" alt="MyRecipes">
            <div class="card-body">
                <h5 class="@recipe.Name"></h5>
                <p class="@recipe.CategoryName"></p>
                <a asp-controller="Recipe" asp-action="ById" asp-route-id="@recipe.Id" class="btn btn-primary">Към рецептата</a>
            </div>
        </div>
    }
</div>