@model MyRecipes.Web.ViewModels.Recipes.RecipesListViewModel
@{
    this.ViewData["Title"] = "Всички рецепти, страница: " + Model.PageNumber;
}

<h1>@this.ViewData["Title"]</h1>

<hr />

<div class="text-center row">
    <div class="col-md-8">
        <div class="row">
            @foreach (var recipe in this.Model.Recipes)
            {
                <div class="card" style="width: 18rem;">
                    <img src="@recipe.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Name</h5>
                        <p class="card-text">@recipe.CategoryName</p>
                        <a asp-controller="Recipe" asp-action="ById" asp-route-id="@recipe.Id" class="btn btn-primary">Към рецептата</a>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<hr />

<partial name="_PagingPartial" model="@Model" />


